@charset "UTF-8";

/*

# Colors

* Blue: #3a93c9
* Turquoise: #3cc6b5


# Breakpoints

These are key points based on common viewport sizes. Design using these in mind,
but still set breakpoints where needed to make the design look good.

* < 300: Tiny unknown phones and stuff
* 300: Medium phones
* 400: Larger phones / Smaller phones landscape orientation
* 700: Tablets / Larger phones landscape orientation
* 1000: Tiny monitors / Tablets landscape orientation
* 1200: Small monitors
* 1400: Medium monitors
* 1600: Large monitors
* 2000: Huge monitors

*/

/* ########################################################################## */
/* Global */
/* ########################################################################## */

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	color: #454545;
	background: #fff;
	/* font-size: 100% = 16px, line-height: 16px * 1.5 = 24px */
	font: 100%/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* 17 / 0.5 = 0.029412 */
	letter-spacing: 0.029412em;
}

a {
	color: #3a93c9;
}

/* ########################################################################## */
/* Common components */
/* ########################################################################## */

.sectionHeading {
	margin-bottom: 1.5rem;
	color: #292929;
	/* 24 / 16 = 1.5 */
	font-size: 1.5rem;
	text-align: center;
}

.sectionHeading-white {
	color: #fff;
}

.subHeading {
	/* 6 / 16 = 0.375 */
	margin-bottom: 0.375rem;
	color: #333;
	/* 18 / 16 = 1.125 */
	font-size: 1.125rem;
}

.button {
	display: inline-block;
	text-decoration: none;
}

.button-cta {
	padding: 0.75rem 1.5rem;
	color: #fff;
	background: #3a93c9;
	background: linear-gradient(to right, #3a93c9, #3cc6b5);
	border-radius: 0.75rem;
	text-transform: uppercase;
}

.button-icon {
	padding: 0.75rem;
	border-radius: 500px;
	line-height: 1;
}

.button-blue {
	color: #fff;
	background: #3a93c9;
}

.button-turquoise {
	color: #fff;
	background: #3cc6b5;
}

.icon {
	display: inline-block;
	overflow: hidden;
	background: url("/images/icons-sprite.png") no-repeat;
	text-indent: -9999px;
	vertical-align: middle;
}

.icon-email {
	width: 20px;
	height: 20px;
	background-position: 0 -147px;
}

.icon-linkedin {
	width: 20px;
	height: 20px;
	background-position: -47px -148px;
}

/*
	MQ: Larger phones / Medium phones landscape orientation
*/

/* 400 / 16 = 25 */
@media (min-width: 25rem) {
	.sectionHeading {
		/* 30 / 16 = 1.875 */
		font-size: 1.875rem;
	}

	.subHeading {
		/* 6 / 16 = 0.375 */
		margin-bottom: 0.375rem;
		/* 20 / 16 = 1.25 */
		font-size: 1.25rem;
	}
}

/*
	MQ: Tablets / Larger phones landscape orientation
*/

/* 700 / 16 = 43.75 */
@media (min-width: 43.75rem) {
	.sectionHeading {
		/* 48 / 16 = 3 */
		margin-bottom: 3rem;
		/* 36 / 16 = 2.25 */
		font-size: 2.25rem;
	}

	.subHeading {
		/* 12 / 16 = 0.75 */
		margin-bottom: 0.75rem;
		font-size: 1.25rem;
	}
}

/* ########################################################################## */
/* Sections */
/* ########################################################################## */

.section {
	padding: 1.5rem 1.5rem; /* Fallback */
	padding: 1.5rem 6vw;
}

/* -------------------------------------------------------------------------- */
/* Header section */
/* -------------------------------------------------------------------------- */

.section-header {
	overflow: hidden;
	padding: 0;
	color: #fff;
	background:
		linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 50%, hsla(0, 0%, 0%, 0.8)),
		url("/images/bg/header/600w.jpg") no-repeat center center;
	background-size: cover;
	text-align: center;
}

.section-header-logo {
	display: block;
	width: 140px;
	height: 77px;
	overflow: hidden;
	margin: 0.75rem auto 1.5rem;
	background: url("/images/techbrain-logo-white.png") no-repeat;
	text-indent: -9999px;
}

.section-header-tagline {
	display: block;
	margin: 1.5rem;
	font-size: 1.8rem; /* Fallback */
	font-size: 9vw;
	text-shadow:
		0 0.04em 1em hsla(215, 100%, 10%, 0.6),
		0 0.04em 0.3em hsla(215, 100%, 10%, 0.3),
		0 1px 1px hsla(0, 0%, 0%, 0.1);
}

.section-header-tagline-part1 {
	display: block;
}

.section-header-menu {
	margin: 1.5rem;
	list-style: none;
	font-size: 1rem; /* Fallback */
	font-size: 5vw;
	text-shadow:
		0 0 1em hsla(0, 0%, 0%, 0.6),
		0 0 0.3em hsla(0, 0%, 0%, 0.3),
		0 1px 1px hsla(0, 0%, 0%, 0.1);
}

.section-header-menu li {
	display: inline;
}

.section-header-menu a {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	color: #fff;
	text-decoration: none;
}

/*
	MQ: Medium and large phones only
*/

/* 300 / 16 = 18.75 */
/* 699 / 16 = 43.6875 */
@media (min-width: 18.75rem) and (max-width: 43.6875rem) {
	/* Make the menu items wrap to new row after 3 items. */
	.section-header-menu li:nth-child(4)::before {
		content: 'heeeej';
		display: block;
		width: 100%;
		height: 0;
		overflow: hidden;
	}
}

/*
	MQ: Larger phones / Medium phones landscape orientation
*/

/* 400 / 16 = 25 */
@media (min-width: 25rem) {
	.section-header-tagline {
		/* 400 * 0.09 = 36 / 16 = 2.25 */
		font-size: 2.25rem;
	}

	.section-header-menu {
		/* 400 * 0.05 = 20 / 16 = 1.25 */
		font-size: 1.25rem;
	}
}

/*
	MQ: Tablets / Larger phones landscape orientation
*/

/* 700 / 16 = 43.75 */
@media (min-width: 43.75rem) {
	.section-header-logo {
		margin-top: 1.5rem;
	}
}

/*
	MQ: Tiny monitors / Tablets landscape orientation
*/

/* 1000 / 16 = 62.5 */
@media (min-width: 62.5rem) {
	.section-header-menu li + li {
		margin-left: 0.75rem;
	}
}

/* -------------------------------------------------------------------------- */
/* Services section */
/* -------------------------------------------------------------------------- */

.section-services-service {
	margin: 1.5rem 0;
	overflow: hidden;
}

.section-services-image {
	width: 48px;
	height: 48px;
	float: right;
	margin: 0 0 0.75rem 0.75rem;
	background: url('/images/icons-sprite.png') no-repeat;
	background-size: 154px;
}

.section-services-image-onSite {
	background-position: -53px 0;
}

.section-services-image-itConsultants {
	background-position: -106px 0;
}

.section-services-cta {
	margin-top: 3rem;
	text-align: center;
}

/*
	MQ: Tablets / Larger phones landscape orientation
*/

/* 700 / 16 = 43.75 */
@media (min-width: 43.75rem) {
	.section-services {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.section-services-list {
		display: flex;
		margin: 0 auto;
		max-width: 60rem;
	}

	.section-services-service {
		position: relative;
		flex: 1 33%;
		margin: 0 1.5rem;
		padding-top: calc(96px + 1.5rem);
		text-align: center;
	}

	.section-services-image {
		position: absolute;
		top: 0;
		left: 50%;
		width: 96px;
		height: 96px;
		margin: 0 0 0 -48px;
		background-size: 308px;
	}

	.section-services-image-onSite {
		background-position: -106px 0;
	}

	.section-services-image-itConsultants {
		background-position: -212px 0;
	}
}

/* -------------------------------------------------------------------------- */
/* Clients section */
/* -------------------------------------------------------------------------- */

.section-clients {
	color: #fff;
	background: #3a93c9;
	background: linear-gradient(to right, #3a93c9, #3cc6b5);
}

.section-clients-list {
	list-style: none;
	text-align: center;
}

.section-clients-list li {
	margin: 1.5rem;
}

.section-clients-list img {
	max-width: 100%;
	vertical-align: middle;
}

/*
	MQ: Tablets / Larger phones landscape orientation
*/

/* 700 / 16 = 43.75 */
@media (min-width: 43.75rem) {
	.section-clients-list li {
		display: inline;
		margin: 0;
	}

	.section-clients-list img {
		display: inline-block;
		margin: 1.5rem;
	}
}

/* -------------------------------------------------------------------------- */
/* Team section */
/* -------------------------------------------------------------------------- */

.section-team-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 60rem;
	margin: 0 auto;
}

.section-team-person {
	width: 18rem;
	max-width: 100%;
	margin-bottom: 3rem;
	text-align: center;
}

.section-team-person .subHeading {
	margin-bottom: 0;
}

.section-team-person-picture {
	width: 120px;
	max-width: 100%;
	margin: 0.75rem 0;
	vertical-align: middle;
}

.section-team-person-links {
	list-style: none;
}

.section-team-person-links li {
	display: inline-block;
}

.section-team-person-links li + li {
	margin-left: 0.375rem;
}

/*
	MQ: Tablets / Larger phones landscape orientation
*/

/* 700 / 16 = 43.75 */
@media (min-width: 43.75rem) {
	.section-team-person {
		position: relative;
		padding-top: calc(180px + 0.75rem);
	}

	.section-team-person-picture {
		position: absolute;
		top: 0;
		left: 50%;
		width: 180px;
		margin: 0 0 0 -90px;
	}

	.section-team-person-links {
		margin-top: 0.75rem;
	}
}
